
    .header{
        background-image: url("/verticalheader.jpg"); 
        background-size: cover;
        height: 100vh;
        background-position: center;
    }
    

@media only screen and (min-width: 1024px){
    .header{
        background-image: url("/headerimg-min.jpg"); 
        background-size: cover;
    }
    

} 
